{% extends 'base.html' %} 

{% block content %}
  
{% endblock content %}
   
        
    </body>
</html>



{% block content %} -->

<!-- <h1>La liste des animaux</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Legs</td>
        <td>Weight</td>
        <td>Heigth</td>
        <td>Speed</td>
        <td>Family</td>
    </tr>
    {% for y in animals %}
    <tr>
        <td>{{y.id}}</td>
        <td>{{y.name}}</td>
        <td>{{y.legs}}</td>
        <td>{{y.weight}}</td>
        <td>{{y.height}}</td>
        <td>{{y.speed}}</td>
        <td>{{y.family}}</td>
    </tr>
    
    {% endfor %}
    
</table>

{% endblock content %}  -->