{% extends 'base.html' %}
{% block content %}


<div class='col-sm-12'>
    <h3 class="text-center">Listes des Locations</h3>
    <h2>Listes des Locateur</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
              <th>Client</th>
              <th>Vehicule</th>
              <th>date_de_location</th>
              <th>date_de_retour</th>
          </tr>
        </thead>
        <tbody>
           {% for locate in locations  %}
          <tr>
              <td>{{locate.client}}</td>
              <td>{{locate.vehicule}}</td>
              <td>{{locate.date_location}}</td>
              <td>{{locate.date_retour}}</td>
           </tr>
          {% endfor %}
          <br>
        <button><a href="{% url 'ajouterlocation' %}  ">Add New Location</a></button>
                
        </tbody>
      </table>
    </div>

    
    {% endblock content %}