{% extends 'base.html' %}

{% block content %}
  <h1> Creer une location</h1>

  <form method='POST' action="">
    {% csrf_token %}
    <div class="form-floating">

         <select class="form-control" name="client" required>
             {% for client in clients %}
              <option value=''>{{client.first_name}} {{client.last_name}}</option>
            {% endfor %}
         </select>

        <label for="client">Identifiant du Vehicule</label>
      </div>

      <div class="form-floating">
        <select class="form-control" name="vehiculeture" required>
          {% for vehicule in vehicules %}
           <option value=''>{{ vehicule.vehicule_type.name }}</option>
         {% endfor %}
      </select>

        <label for="vehiculeture">Identifiant des dates</label>
      </div>

      <div class="form-floating">
        <input type="date" class="form-control" name="date_location" placeholder="date de location" required>
        <label for="">Date location</label>
      </div>
      <div class="form-floating">
        <input type="date" class="form-control" id="prenom" name="date_retour" placeholder="date de retour" required>
        <label for="">date de retour</label>
      </div>
    
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Valider</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>


{% endblock content %}


  