{% extends "base.html" %}
{% block content %}

<table>
    <tr>
        <form action = "" method = "post">
             {% csrf_token %}
             {{form.as_table}}
             <input type ="submit" value ="Envoyer">    
        </form>
        
    </tr>    
            
</table>

<table>
                
        <tr>
            <th>First_name</th>
            <th>Last_name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Type_Loyer</th>
            <th>Supprimer</th>
            <th>Editer</th>
        </tr>
              
         {% for client in clients %}
            <tr>
                <td>{{client.first_name}}</td>
                <td> {{client.last_name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.phone_number}}</td>
                <td>{{client.address}}</td>
                <td>{{client.city}}</td>
                <td>{{client.country}}</td>
                
            </tr>
        {% endfor %}     
                
                
</table>
            

{% endblock content %} 



  

