{% extends "base.html" %}
{% block content %}

<form method="POST" action="/ajouterlocation">
    {% csrf_token %}
    <div>
        <br>
        <p>
            <h3>Entrer les réferences </h3>
        </p>
        <div>
            <p>Type vehicule:</p>{{form.vehicule_type}}
        </div>
        <div>
            <p>Date créé:</p>{{ form.date_created }}
        </div>
        <div>
            <p>Prix:</p>{{ form.prix }}
        </div>
        <div>
            <p>Taille:</p>{{ form.taille }}
        </div>
       
        <div>
            <br>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
            

{% endblock content %} 



  

