{% extends "base.html" %}

{% block content %}

<p>
    <h3>Liste des locations</h3>
</p>

<table>
                
        <tr>
            <th>date location</th>
            <th>Date retour</th>
            <th>Client</th>
            <th>Vehicule</th>
        </tr>
        
              
        {% for location in locations %}
        <tr>
            <td>{{location.date_location}}</td>
            <td>{{location.date_retour}}</td>
            <td>{{location.client}}</td>
            
            
            
            
        </tr>
    {% endfor %} 
        
        <br>
        <button><a href="  ">Add New location</a></button>
                
                
</table>
            

{% endblock content %} 



  

