

{%load static %}


<footer class="page-footer" style="background-color: green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        
          <p class="grey-text text-lighten-4">Obtenez la réservation de votre chambre en quelques secondes avec sublime Hotels.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text" style="font-family:'Times New Roman'">Liens Important</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Accueil</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact-us">Contactez-nous</a></li>
            {% if not request.session.username %}
            {% if request.session.type == 'customer' %}
            <li><a class="grey-text text-lighten-3" href="#">Clients</a></li>
            {% else %}
            <li><a class="grey-text text-lighten-3" href="#">Chambre personnel</a></li>
            {% endif %}
            {% else %}
            <li><a class="grey-text text-lighten-3" href="/logout">Se déconecter</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 All right reserved
      </div>
    </div>
  </footer>
